/* HEADER */
header {
    width: 100%;
    padding: 20px 20px;
    background-color: #d7b622;
    box-sizing: border-box;
}

.header-link {
    margin-right: 20px;
    text-decoration: none;
    color: #151414;
}

.ul-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* FLEX */
.flex-div {
    width: 100%;
    padding: 30px 350px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

.flex-child {
    width: 100%;
    padding: 15px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.flex-direct-column {
    flex-direction: column;
}

/* POST CARD */
.link {
    text-decoration: none;
    color: #fff;
}

.post-card {
    /*border: 1px solid blue;*/
    margin: 15px;
    border-radius: 15px;
    background: #181717;
    color: #fff;
    overflow: hidden;
}

.post-title {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.flex-post-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    background: #d7b622;
}

.flex-post-info-child {
    background: #fff;
    border-radius: 10px;
    height: 100%;
    color: #181717;
    padding: 5px;
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

/* POST DIV */
.post-box {
    width: 100%;
    padding: 0 400px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.post-box-date {
    text-align: right;
    margin: 15px 0;
}

.post-box-title {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #d7b622;
    /*border: 1px solid blue;*/
    background-color: #181717;
    border-radius: 15px 15px 0 0;
}

.post-box-text {
    width: 100%;
    padding: 10px;
    text-align: justify;
    border: 2px solid #181717;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

/* COMMENT FLEX */
.comment-div {
    font-size: 32px;
    line-height: 28px;
    font-weight: bold;
    margin: 40px 0 25px;
}
.comment-flex {
    width: 100%;
    display: flex;
}

.comment-card {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    /*border: 1px solid green;*/
}

.comment-text {
    width: 100%;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
    background: #d7b622;
    /*border: 1px solid black;*/
}

/* Comment Info Flex*/
.comment-info-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
    background: #181717;
}
.comment-info-child {
    padding: 5px 10px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 3px;
}


/* FLEX PROFILE */
.flex-profile {
    /*width: 100%;*/
    margin: 50px 400px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #181717;
    border-radius: 25px;
}

.profile-avatar-child {
    width: 30%;
    background: #484848;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
}

.profile-img-box {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #181717;
    /*overflow: hidden;*/
    box-sizing: border-box;
}

.img-avatar {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.create-new-post-btn-box {
    /*padding: 20px 0;*/
    margin-top: 20px;
    /*background: yellow;*/
    box-sizing: border-box;
    font-weight: bold;
}

.new-post-btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #d7b622;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 20px;
    color: #181717;
}

.profile-info-child {
    width: 60%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    background: #d7b622;
    /*padding: 25px;*/
    box-sizing: border-box;
    border-radius: 25px;
}

.user-info-field {
    margin: 25px;
    padding: 10px 10px;
    font-weight: bold;
    background-color: #eee;
    border-radius: 10px;
}

.user-info-field > span {
    font-weight: normal;
}

/* LOGIN FORM */
.login-page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    box-sizing: border-box;
}

.form-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-form {
    color: #fff;
    background-color: #151414;
    width: 400px;
    padding: 20px;
}

.login-form > input {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
}

.login-form > button {
    margin-top: 20px;
    color: #000;
    background-color: #0eab75;
    border: none;
    cursor: pointer;
}

.error {
    text-align: center;
    font-weight: bold;
    color: #be1717;
}
